Configuration(
    files: {
        "../README.md":  (
            for_docs: false,
            sections: [
                "header.md",
                "docs.md",
                "../src/previews/index.md",
                "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
            ],
        ),
        "../src/.crate-docs.md": (
            for_docs: true,
            sections: [
                "docs.md",
                "../src/previews/index.md",
                "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
            ],
        ),
        "../CONTRIBUTING.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CONTRIBUTING.md",
        ],
        "../CODE_OF_CONDUCT.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CODE_OF_CONDUCT.md",
        ],
        "../LICENSE-APACHE":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-APACHE",
        ],
        "../LICENSE-MIT":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-MIT",
        ],
    },
    glossaries: [
        "https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron",
        {
            // "msrv": "1.70",
            "ref-name": (
                default: "main",
                release: "v0.2.2",
            ),
            "docs": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/",
                release: "https://docs.rs/nominals",
            ),
            "Decimal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Decimal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Decimal.html",
                for_docs: "Decimal",
            ),
            "ArmenianLower": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.ArmenianLower.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.ArmenianLower.html",
                for_docs: "ArmenianLower",
            ),
            "ArmenianUpper": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.ArmenianUpper.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.ArmenianUpper.html",
                for_docs: "ArmenianUpper",
            ),
            "Bengali": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Bengali.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Bengali.html",
                for_docs: "Bengali",
            ),
            "Cambodian": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Cambodian.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Cambodian.html",
                for_docs: "Cambodian",
            ),
            "CjkDecimal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.CjkDecimal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.CjkDecimal.html",
                for_docs: "CjkDecimal",
            ),
            "Devanagari": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Devanagari.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Devanagari.html",
                for_docs: "Devanagari",
            ),
            "EasternArabic": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.EasternArabic.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.EasternArabic.html",
                for_docs: "EasternArabic",
            ),
            "Ethiopic": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Ethiopic.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Ethiopic.html",
                for_docs: "Ethiopic",
            ),
            "Georgian": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Georgian.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Georgian.html",
                for_docs: "Georgian",
            ),
            "GreekLower": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.GreekLower.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.GreekLower.html",
                for_docs: "GreekLower",
            ),
            "GreekUpper": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.GreekUpper.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.GreekUpper.html",
                for_docs: "GreekUpper",
            ),
            "Gujarati": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Devanagari.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Gujarati.html",
                for_docs: "Gujarati",
            ),
            "Gurmukhi": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Gurmukhi.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Gurmukhi.html",
                for_docs: "Gurmukhi",
            ),
            "Gurmukhi": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Gurmukhi.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Gurmukhi.html",
                for_docs: "Gurmukhi",
            ),
            "HanjaFormal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HanjaFormal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HanjaFormal.html",
                for_docs: "HanjaFormal",
            ),
            "HanjaInformal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HanjaInformal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HanjaInformal.html",
                for_docs: "HanjaInformal",
            ),
            "HangeulJamo": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HangeulJamo.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HangeulJamo.html",
                for_docs: "HangeulJamo",
            ),
            "HangeulSyllable": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HangeulSyllable.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HangeulSyllable.html",
                for_docs: "HangeulSyllable",
            ),
            "HangeulFormal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HangeulFormal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HangeulFormal.html",
                for_docs: "HangeulFormal",
            ),
            "Hebrew": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Hebrew.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Hebrew.html",
                for_docs: "Hebrew",
            ),
            "HexLower": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HexLower.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HexLower.html",
                for_docs: "HexLower",
            ),
            "HexUpper": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HexUpper.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HexUpper.html",
                for_docs: "HexUpper",
            ),
            "Hiragana": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Hiragana.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Hiragana.html",
                for_docs: "Hiragana",
            ),
            "HiraganaIroha": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.HiraganaIroha.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.HiraganaIroha.html",
                for_docs: "HiraganaIroha",
            ),
            "Kannada": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Kannada.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Kannada.html",
                for_docs: "Kannada",
            ),
            "Katakana": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Katakana.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Katakana.html",
                for_docs: "Katakana",
            ),
            "KatakanaIroha": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.KatakanaIroha.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.KatakanaIroha.html",
                for_docs: "KatakanaIroha",
            ),
            "Lao": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Lao.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Lao.html",
                for_docs: "Lao",
            ),
            "LetterLower": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.LetterLower.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.LetterLower.html",
                for_docs: "LetterLower",
            ),
            "LetterUpper": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.LetterUpper.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.LetterUpper.html",
                for_docs: "LetterUpper",
            ),
            "Malayalam": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Malayalam.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Malayalam.html",
                for_docs: "Malayalam",
            ),
            "Mongolian": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Mongolian.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Mongolian.html",
                for_docs: "Mongolian",
            ),
            "Myanmar": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Myanmar.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Myanmar.html",
                for_docs: "Myanmar",
            ),
            "Oriya": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Oriya.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Oriya.html",
                for_docs: "Oriya",
            ),
            "Persian": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Persian.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Persian.html",
                for_docs: "Persian",
            ),
            "RomanLower": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.RomanLower.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.RomanLower.html",
                for_docs: "RomanLower",
            ),
            "RomanUpper": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.RomanUpper.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.RomanUpper.html",
                for_docs: "RomanUpper",
            ),
            "Tamil": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Tamil.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Tamil.html",
                for_docs: "Tamil",
            ),
            "Telugu": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Telugu.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Telugu.html",
                for_docs: "Telugu",
            ),
            "Thai": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Thai.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Thai.html",
                for_docs: "Thai",
            ),
            "Tibetan": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.Tibetan.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.Tibetan.html",
                for_docs: "Tibetan",
            ),
            "SimplifiedChineseInformal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.SimplifiedChineseInformal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.SimplifiedChineseInformal.html",
                for_docs: "SimplifiedChineseInformal",
            ),
            "SimplifiedChineseFormal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.SimplifiedChineseFormal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.SimplifiedChineseFormal.html",
                for_docs: "SimplifiedChineseFormal",
            ),
            "TraditionalChineseInformal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.TraditionalChineseInformal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.TraditionalChineseInformal.html",
                for_docs: "TraditionalChineseInformal",
            ),
            "TraditionalChineseFormal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.TraditionalChineseFormal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.TraditionalChineseFormal.html",
                for_docs: "TraditionalChineseFormal",
            ),
            "CjkHeavenlyStem": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.CjkHeavenlyStem.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.CjkHeavenlyStem.html",
                for_docs: "CjkHeavenlyStem",
            ),
            "CjkEarthlyBranch": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.CjkEarthlyBranch.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.CjkEarthlyBranch.html",
                for_docs: "CjkEarthlyBranch",
            ),
            "JapaneseFormal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.JapaneseFormal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.JapaneseFormal.html",
                for_docs: "JapaneseFormal",
            ),
            "JapaneseInformal": (
                default: "https://khonsulabs.github.io/nominals/main/nominals/struct.JapaneseInformal.html",
                release: "https://docs.rs/nominals/latest/nominals/struct.JapaneseInformal.html",
                for_docs: "JapaneseInformal",
            ),
        },
    ],
)